/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    height:100%;
    overflow:hidden;
    background:#000;
    font-family:Arial,Helvetica,sans-serif;
}

/* PLAYER */
.player{
    position:fixed;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#000;
}

.video-js{
    width:100vw !important;
    height:100vh !important;
    background:#000;
}

.video-js video{
    object-fit:contain;
    object-position:center;
}

/* LOADING */

#loading{
    position:fixed;
    inset:0;
    background:#000;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    z-index:9999;
    transition:.5s;
}

#loading.hide{
    opacity:0;
    visibility:hidden;
}

#loading h1{
    color:white;
    font-size:48px;
    margin-bottom:25px;
    text-shadow:0 0 20px #8a2be2;
}

.progress{

    width:280px;
    height:8px;
    background:#222;
    border-radius:20px;
    overflow:hidden;

}

.bar{

    width:0%;
    height:100%;
    background:#9d4edd;
    transition:.2s;

}

#percent{

    margin-top:10px;
    color:white;

}

/* START */

#start{

    position:fixed;
    inset:0;

    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

    background:rgba(0,0,0,.30);
    backdrop-filter:blur(3px);

    z-index:9998;

    transition:.5s;

}

#start.hide{

    opacity:0;
    visibility:hidden;

}

#start h1{

    color:white;
    font-size:58px;
    text-shadow:0 0 20px #8a2be2;

}

#start p{

    margin-top:20px;
    color:white;
    animation:blink 1s infinite;

}

@keyframes blink{

50%{

opacity:.3;

}

}

/* OVERLAY */

#overlay{

position:fixed;
inset:0;

background:linear-gradient(
rgba(0,0,0,.10),
rgba(0,0,0,.40)
);

pointer-events:none;

}

/* PARTICLES */

#particles{

position:fixed;
inset:0;

overflow:hidden;

pointer-events:none;

}

.particle{

position:absolute;

width:5px;
height:5px;

border-radius:50%;

background:#c77dff;

box-shadow:0 0 15px #c77dff;

animation:float linear forwards;

}

@keyframes float{

0%{

transform:translateY(100vh);

opacity:0;

}

20%{

opacity:1;

}

100%{

transform:translateY(-120vh);

opacity:0;

}

}
