/* =========================
   RESET
========================= */
:root{
    --accent:#9b5cff;
    --accent2:#d56bff;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html,body{

width:100%;
height:100%;
overflow:hidden;
font-family:'Poppins',sans-serif;
background:#000;

}

/* =========================
   VIDEO BACKGROUND
========================= */

#bgVideo{

position:fixed;
top:0;
left:0;
width:100%;
height:100%;
object-fit:cover;
object-position:center center;
z-index:-10;
background:#000;

}

/* =========================
   DARK OVERLAY
========================= */

.overlay{

position:fixed;
inset:0;

background:
linear-gradient(
180deg,
rgba(0,0,0,.15),
rgba(0,0,0,.55),
rgba(0,0,0,.80)
);

backdrop-filter:blur(2px);

z-index:-9;

}

/* =========================
   HERO
========================= */

.hero{
    box-shadow:0 0 30px var(--accent);
}

/* ========================= */

.logo{

font-size:55px;

margin-bottom:10px;

filter:drop-shadow(0 0 20px #b000ff);

}

/* ========================= */

.hero h1{
    text-shadow:0 0 20px var(--accent);
}

/* ========================= */

.subtitle{

color:#ddd;

letter-spacing:2px;

margin-bottom:25px;

}

/* ========================= */

#clock{
    text-shadow:0 0 20px var(--accent);
}

/* ========================= */

#date{

color:#ddd;

margin-bottom:30px;

}

/* ========================= */

#enter{
    background:linear-gradient(90deg,var(--accent),var(--accent2));
}

#enter:hover{

transform:scale(1.08);

box-shadow:
0 0 35px #ff00ff;

}

/* =========================
   PARTICLES
========================= */

#particles{

position:fixed;
inset:0;
pointer-events:none;
overflow:hidden;

}

.spark{

position:absolute;

width:5px;
height:5px;

border-radius:50%;

background:#ff55ff;

box-shadow:
0 0 15px #ff00ff;

animation:float linear infinite;

}

/* ========================= */

@keyframes float{

0%{

transform:translateY(110vh);

opacity:0;

}

20%{

opacity:1;

}

100%{

transform:translateY(-20vh);

opacity:0;

}

}

/* ========================= */

@keyframes fade{

from{

opacity:0;

transform:
translate(-50%,-40%);

}

to{

opacity:1;

transform:
translate(-50%,-50%);

}

}

/* =========================
   MOBILE
========================= */

@media(max-width:768px){

.hero{

padding:25px;

}

.hero h1{

font-size:30px;

}

.subtitle{

font-size:15px;

}

#clock{

font-size:42px;

}

#enter{

width:100%;

}

}

/* ========================= */

::-webkit-scrollbar{

display:none;

}
/* ===========================
LOADING SCREEN
=========================== */

#loader{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:#000;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

z-index:99999;

transition:1s;

}

.loader-logo{

font-size:70px;

color:#ff00ff;

animation:pulse 1s infinite;

}

.loader-text{

color:white;

margin-top:20px;

font-size:22px;

letter-spacing:2px;

}

.loading-bar{

width:250px;

height:8px;

background:#222;

margin-top:25px;

border-radius:50px;

overflow:hidden;

}

#loadingFill{

width:0%;

height:100%;

background:

linear-gradient(
90deg,
#ff00ff,
#8800ff
);

}

@keyframes pulse{

50%{

transform:scale(1.15);

}

   #settingsBtn{
position:fixed;
top:20px;
right:20px;
width:50px;
height:50px;
border-radius:50%;
background:rgba(255,255,255,.15);
backdrop-filter:blur(10px);
display:flex;
justify-content:center;
align-items:center;
cursor:pointer;
font-size:24px;
color:white;
z-index:999;
}

#settingsPanel{
position:fixed;
top:80px;
right:20px;
width:220px;
padding:18px;
border-radius:15px;
background:rgba(0,0,0,.7);
backdrop-filter:blur(10px);
display:none;
z-index:999;
}

#settingsPanel h3{
color:white;
margin-bottom:12px;
text-align:center;
}

.theme{
width:100%;
padding:10px;
margin:6px 0;
border:none;
border-radius:10px;
cursor:pointer;
font-weight:bold;
color:white;
}

.purple{background:#9b5cff;}
.blue{background:#4da3ff;}
.red{background:#ff4d6d;}
.green{background:#4dff88;color:#111;}

}
